
// Theme Teal
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.15.90</sg-insert>
// </div>
//
// sg-wrapper:
//   <div class="container container--fullwidth-xs">
//     <sg-wrapper-content/>
//   </div>
//
// Styleguide 3.17

.theme--teal {
  @include theme-colours(ee-colour('teal'), ee-colour('white'));
  @include theme-links;
  @include theme-heading;
  @include theme-icon-link;
  @include theme-text-link;
  @include theme-parent-hover;
  @include theme-btn;
  @include theme-btn-spinner;
  @include theme-btn-secondary(ee-colour('white'), ee-colour('white'), ee-colour('white'), ee-colour('teal'));
  @include theme-btn-svg;

  .animate-parent--hover:hover {
    .theme--teal {
      .icon-link {
        color: ee-colour('dark-teal');

        .icon-link__icon {
          fill: ee-colour('dark-teal');
        }
      }
    }
  }

  ul li:before {
    color: ee-colour('white');
  }

  .card-label:after {
    background-color: ee-colour('teal');
  }

  .c40-sticky-banner__container-text-and-operator__plus:before,
  .c40-sticky-banner__container-text-and-operator__equals:before {
    color: ee-colour('white');
  }
}

// Theme Teal Links
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.11.7</sg-insert>
//  <hr class="margin-top-2 margin-bottom-2">
//  <h2 class="h3 text-center">SVG Button and icon links</h2>
//  <sg-insert>5.4.4</sg-insert>
//  <sg-insert>3.11.8</sg-insert>
//  <hr class="margin-top-2 margin-bottom-2">
//  <h2 class="h3 text-center">Standalone icon links</h2>
//  <sg-insert>3.11.9</sg-insert>
// </div>
//
// sg-wrapper:
// <div class="container container--fullwidth-xs">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.17.1

// Theme Teal Lists
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.7</sg-insert>
//  <sg-insert>3.7.2</sg-insert>
//  <sg-insert>3.7.3</sg-insert>
// </div>
//
// sg-wrapper:
// <div class="container container--fullwidth-xs">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.17.2

// Theme Teal Icons
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.4.1</sg-insert>
// </div>
//
// sg-wrapper:
// <div class="container container--fullwidth-xs">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.17.3

// Theme Teal CTA
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.25.1.1</sg-insert>
// </div>
//
// sg-wrapper:
// <div class="container container--fullwidth-xs">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.17.4

// Theme Teal Tooltips
//
// Markup:
// <div class="theme--teal padding-4">
//  <sg-insert>3.15.91</sg-insert>
// </div>
//
// sg-wrapper:
// <div class="container container--fullwidth-xs">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.17.5
