// Lists
//
// Markup:
// <ul>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet Lorem ipsum Lorem sit Lorem</li>
//</ul>
//
// Styleguide 3.7

ul,
ol {
  margin-left: -1.25rem;
  padding-left: 2.5rem;

  li {
    margin-bottom: .5rem;
    @include rythm-calc('s');

    @include respond('md') {
      @include rythm-calc('m');
    }

    .icon-link {
      margin-left: 1.0625rem;
    }
  }
}

ul {
  li {
    list-style: none;
    text-indent: -1.0625rem;

    &:before {
      color: ee-colour('aqua');
      content: '\2022';
      padding-right: .5rem;
      position: relative;
    }
  }
}

.list-icon {
  .icon-link {
    margin-left: .0625rem;
  }

  li {
    text-indent: -1.75rem;
    margin-left: .5rem;

    &:before {
      display: none;
    }
    // stylelint-disable selector-no-qualifying-type
    &.list-icon {
      margin-left: -.0625rem;
      text-indent: -1.5rem;

      &:before {
        display: none;
      }

      .icon-link {
        margin-left: 1.5rem;
      }
    }
  }
}

.list-xs {
  li {
    @include rythm-calc('xs');
  }

  .icon-svg {
    vertical-align: bottom;
    top: .0625rem;
  }
}

.list-indent {
  margin-left: .25rem;
}

// List with tick icon
//
// Markup:
// <ul class="list-icon">
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet  Lorem ipsum Lorem sit Lorem</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet</li>
// </ul>
//
// Styleguide 3.7.2

// Lists with icon links
//
// Markup:
// <ul class="list-icon">
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_chevron_right"></use></svg>Lorem ipsum dolor sit amet  Lorem ipsum Lorem sit Lorem</a></li>
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_external_link"></use></svg>Lorem ipsum dolor sit amet</a></li>
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_download"></use></svg>Lorem ipsum dolor sit amet</a> <span class="xsmall">(PDF 340MB)</span></li>
//</ul>
//
// Styleguide 3.7.3

// Lists with icon links indented
//
// Markup:
// <ul class="list-icon list-indent">
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_chevron_right"></use></svg>Lorem ipsum dolor sit amet  Lorem ipsum Lorem sit Lorem</a></li>
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_external_link"></use></svg>Lorem ipsum dolor sit amet</a></li>
//    <li><a href="#" class="icon-link"><svg focusable="false" class="icon-link__icon"><use xlink:href="#eei_download"></use></svg>Lorem ipsum dolor sit amet</a> <span class="xsmall">(PDF 340MB)</span></li>
// </ul>
//
// Styleguide 3.7.4

// Ordered List
//
// Markup:
// <ol>
//    <li>Lorem ipsum dolor sit amet  Lorem ipsum Lorem sit Lorem</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
// </ol>
//
// Styleguide 3.7.7

// Ordered List with indention and Small Text
//
// Markup:
// <ol class="list-xs list-indent">
//    <li>Lorem ipsum dolor sit amet  Lorem ipsum Lorem sit Lorem</li>
//    <li>Lorem ipsum dolor sit amet</li>
//    <li>Lorem ipsum dolor sit amet</li>
// </ol>
//
// Styleguide 3.7.8

// List with tick icon and small text spanning several rows
//
// Markup:
// <ul class="list-icon list-xs width-30-perc">
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet. Lorem ipsum Lorem sit Lorem. Lorem ipsum Lorem sit Lorem. Lorem ipsum Lorem sit Lorem.  Lorem ipsum Lorem sit Lorem.  Lorem ipsum Lorem sit Lorem.</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_tick"></use></svg>Lorem ipsum dolor sit amet. Lorem ipsum Lorem sit Lorem</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_4g"></use></svg>Lorem ipsum dolor sit amet</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_5g"></use></svg>Lorem ipsum dolor sit amet. Lorem ipsum Lorem sit Lorem. Lorem ipsum Lorem sit Lorem. Lorem ipsum Lorem sit Lorem.  Lorem ipsum Lorem sit Lorem.  Lorem ipsum Lorem sit Lorem.</li>
//    <li><svg focusable="false" class="icon-svg"><use xlink:href="#eei_swap"></use></svg>Lorem ipsum dolor sit amet</li>
// </ul>
//
// Styleguide 3.7.9
